
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #fff5f7;
            color: #59434a;
        }

        header {
            background-color: #f4b6c2;
            text-align: center;
            padding: 55px 20px;
            color: white;
        }

        header h1 {
            font-size: 42px;
            margin: 0;
        }

        header p {
            font-size: 18px;
        }

        nav {
            background-color: #8e5f68;
            text-align: center;
            padding: 15px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        nav a:hover {
            color: #ffdce4;
        }

        main {
            width: 85%;
            max-width: 1000px;
            margin: 35px auto;
        }

        section {
            background-color: white;
            padding: 30px;
            margin-bottom: 25px;
            border-radius: 20px;
            box-shadow: 0 5px 15px #ead6da;
        }

        h2 {
            color: #c66f82;
            font-size: 27px;
        }

        h3 {
            color: #8e5f68;
        }

        p {
            line-height: 1.8;
        }

        .welcome {
            text-align: center;
            background-color: #ffe4ea;
        }

        .highlights {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .highlight-box {
            background-color: #fff0f3;
            padding: 20px;
            border-radius: 15px;
            flex: 1;
            min-width: 200px;
            text-align: center;
        }

        .highlight-box h3 {
            margin-top: 5px;
        }

        .goal {
            background-color: #fce8d8;
        }

        footer {
            background-color: #8e5f68;
            color: white;
            text-align: center;
            padding: 20px;
            
            }

    profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
        }
